<h1>
    Welcome to VRapeutic
</h1>

<h2>
    you are invited to join center : <%= @center.name %>
</h2>

<h3>Click on this link to complete your profile: 
    <a href=<%= ENV['DESKTOP_APP_URL']+"/completeUserProfile?token=#{@token_data[:token]}" %>>Complete Registration</a>
</h3>