<h1>
    Welcome to VRapeutic
</h1>

<h2>
    you have asked to reset the password
</h2>

<h3>Click on this link to reset the password:
    <a href=<%= (ENV['APP_URL'] || '')+"/urllink?token=#{@token}" %>>Reset Password</a>
</h3>
