container_commands:
    00_install_certbot:
        command: "sudo python3 -m venv /opt/certbot/"
    10_upgrade_pip:
        command: "sudo /opt/certbot/bin/pip install --upgrade pip"
    20_install_certbot_nginx:
        command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
    30_uninstall_urllib3:
        command: "sudo /opt/certbot/bin/pip uninstall urllib3 -y"
    40_install_urllib3:
        command: "sudo /opt/certbot/bin/pip install urllib3==1.23"