<h1>Please use this otp to validate your email </h1>

<h2>Your OTP Code: <%= @otp %></h2>

<h3>
    You will not be able to do any action on the session you created unless  you validate your email
</h3>